<%= form_for @changeset, booking_path(@conn, :create), fn booking -> %>
  <div class="form-group">
    <%= label booking, :name, class: "control-label" %>
    <%= text_input booking, :name, id: "name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label booking, :start_date, class: "control-label" %>
    <%= text_input booking, :start_date, id: "start_date", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label booking, :end_date, class: "control-label" %>
    <%= text_input booking, :end_date, id: "end_date", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", id: "submit_button", class: "btn btn-primary" %>
  </div>
<% end %>

